<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shopping List</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>



<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">Shopping List</a>


  </nav>

  <div class="container">
    <div class="card">
        <div class="card-header">
          to buy:
        </div>
          <ul class="list-group list-group-flush">
          <%  items.forEach((item) => { %>
          <form action="/delete" method="post">

              <li class="list-group-item"> <input type="checkbox" name="checkbox" value="<%=item.itemName%>" onChange="this.form.submit()">  <%= item.itemName %></li>

          </form>
          <%  }) %>
          </ul>
        <form action="/" method="post">
          <div class="card-footer">
            <input class="addNew" type="text" name="newItem" placeholder="Add New Item">
            <button class="btn btn-primary" type="submit">Add item</button>
          </div>
        </form>
    </div>
  </div>



  <footer class="page-footer footer-light font-small bg-light py-4">
    <p class="text-secondary">Email Me : <a href="mailto:khomkritmok@hotmail.com">khomkritmok@hotmail.com</a> </p>
  </footer>




</body>


</html>
